---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";

const metadata = {
  title: "About | Engels Prado",
  ignoreTitleTemplate: true,
};
---

<BaseLayout metadata={metadata}>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="400"
          height="400"
          src="/assets/at-work.avif"
          alt="Engels Prado at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <!-- Add a background of me with real words not using lorem ipsum-->
          <!-- about.astro -->

          <p>
            Welcome to my corner of the internet! I'm a passionate software
            developer with a love for crafting elegant solutions to complex
            problems. My journey in tech started from a young age, driven by
            curiosity and a desire to understand how things work behind the
            scenes. Over the years, I've honed my skills in various programming
            languages and frameworks, always with the goal of improving user
            experiences and making technology accessible to all.
          </p>
          <p>
            When I'm not coding, you'll find me exploring the great outdoors,
            diving into the pages of a good book, or experimenting with new
            recipes in the kitchen. I believe in lifelong learning and am
            constantly seeking out new challenges and opportunities to grow both
            personally and professionally.
          </p>
          <p>
            Through my work, I aim to make a positive impact on the world, one
            line of code at a time. Thank you for stopping by, and I hope you
            enjoy exploring my projects and getting to know me better.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <ul>
            <li>
              <strong>Bachelor of Science in Computer Science</strong> - University
              of Technology, Graduated 2020. A comprehensive program covering fundamental
              and advanced topics in computer science, software development, and
              algorithm design.
            </li>
            <li>
              <strong>Full Stack Web Development Bootcamp</strong> - Code Academy,
              Completed 2019. An intensive course focused on front-end and back-end
              web technologies, including HTML, CSS, JavaScript, React, Node.js,
              and database management.
            </li>
            <li>
              <strong>UX/UI Design Course</strong> - Design Institute, Completed
              2020. A course dedicated to the principles of user experience and user
              interface design, emphasizing the importance of user-centric design
              in software development.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>
              Proficient in modern front-end technologies including HTML5, CSS3,
              JavaScript, and frameworks such as React, Vue.js and Astro.
            </li>
            <li>Experienced in back-end development with Node.js, Express</li>
            <li>
              Strong understanding of database management and experience working
              with SQL and NoSQL databases like MySQL, PostgreSQL, and MongoDB.
            </li>
            <li>Knowledgeable in RESTful API development and integration.</li>
            <li>
              Competent in version control using Git and GitHub, with an
              understanding of CI/CD pipelines.
            </li>
            <li>
              Skilled in cloud services and deployment, including AWS, Azure,
              and Google Cloud Platform.
            </li>
            <li>
              Proficient in containerization and orchestration tools like Docker
              and Kubernetes.
            </li>
            <li>
              Experience with test-driven development (TDD) and familiar with
              testing frameworks like Jest and Mocha.
            </li>
            <li>
              Strong problem-solving skills and the ability to work in
              fast-paced, dynamic environments.
            </li>
            <li>
              Excellent communication and teamwork skills, with experience
              working in agile development teams.
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    margin: 1.5rem auto;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
