---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Frontend Developer",
    company: "Play business",
    description: `I developed a Ruby on Rails web application that increased customer engagement by 35%. I developed a chatbot using GPT-4.`,
  },
  {
    date: "Septiembre 2022",
    title: "Desarrollador Web FullStack",
    company: "Ido Agency",
    description:
      "Responsible for the platform, components, and utilities for the creation and development of web applications. Achieved a 30% improvement in software delivery. Implemented continuous integration measures and deployment with A/B testing in more than 15 teams.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
